{% extends 'base.html.twig' %}

{% block body %}
    <h1>Panel Administracyjny</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Content</th>
            <th>IP Address </th>
            <th>Created At</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        <tr>
            <th>{{comment.id}}</th>
            <td>{{comment.author}}</td>
            <td>{{comment.content}}</td>
            <td>{{comment.ipAddress}}</td>
            <td>{{comment.createdAtReadable}}</td>
            <td>
                <a href="{{comment.deleteUrl}}"> Delete </a>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin') }}"> Back </a>
    <br>
    <a href="{{ path('logout') }}"> Logout </a>
{% endblock %}
